body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  font-family: "Segoe UI", sans-serif;
}

.main {
  background: repeating-radial-gradient(
    circle,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 30px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
}

.main h1 {
  text-align: center;
  margin-bottom: 20px;
}

.main p {
  text-align: center;
  margin: 10px 0;
}

.main button {
  background: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.arrow {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-weight: bold;
}
