<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Previous Binary Trees</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <div class="main">
      <div class="main-inner">
        <h1>View Your Previously Created Binary Trees Here!</h1>

        <div class="form">
          <form action="/enter-numbers">
            <button type="submit" id="submit-btn">+ Create New Tree</button>
          </form>

          <hr />

          <ul>
            <li th:each="tree : ${trees}">
              <p>
                <strong>Input Numbers:</strong>
                <span th:text="${tree.userInputs}"></span>
              </p>
              <pre class="tree-json" th:attr="data-tree=${tree.treeJson}"></pre>
              <hr />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
