<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Tree Creator</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body>
    <div class="main">
      <div class="main-inner">
        <h1>Your Balanced Binary Tree has been created!</h1>

        <p>
          <strong>Your Input:</strong> <span th:text="${userInputs}"></span>
        </p>

        <div class="form">
          <pre class="tree-json" th:attr="data-tree=${treeJson}"></pre>

          <br />
          <form action="/enter-numbers">
            <button type="submit" id="submit-btn">Go Back</button>
          </form>
          <form action="/previous-trees">
            <button type="submit" id="submit-btn">View Previous Trees</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
